
<div class="objectList small">
	<div class="blockCornerLeft"></div>
	<div class="blockElementHeader sixH">
					<span id="item_count">Here Are  Application Details</span>
	</div>
	<div class="blockCornerRight"></div>
	<div class="contentList filtered sixH">

			<p><h3>Houres:-</h3><%=@app_home.houres %></p>
		<br/>

			<p><h3>Openings:-</h3><%=@app_home.openings %></p>
		<br/>

			<p><h3>Staff:-</h3><%=@app_home.staff %></p>
		<br/>

			<p><h3>Cost:-</h3><%=@app_home.costs %></p>
		<br/>

			<p><h3>Gallery Plan Link:-</h3><%=@app_home.gallery_planlink%></p>
		<br/>

			<p><h3>Bookings:-</h3><%=@app_home.bookings %></p>
		<br/>

			<p><h3>Bsg Praposal Link:-</h3><%=@app_home.bsgproposallink %></p>
		<br/>

			<p><h3>Opening Night:-</h3><%=@app_home.opening_night %></p>
		<br/>

			<p><h3>Staff:-</h3><%=@app_home.staffed %></p>
		<br/>

			<p><h3>Mailing List Number:-</h3><%=@app_home.mailing_list_number %></p>
		<br/>

			<p><h3>Mailing List Description:-</h3><%=@app_home.mailing_list_desc %></p>
		<br/>

			<p><h3>Invitation:-</h3><%=@app_home.invitation %></p>
		<br/>

			<p><h3>Advertising:-</h3><%=@app_home.advertising %></p>
		<br/>

			<p><h3>Sales:-</h3><%=@app_home.sales %></p>
		<br/>

			<p><h3>Your Obligations:-</h3><%=@app_home.your_obligations %></p>
		<br/>
		
		<%=link_to "back",app_homes_path%>
</div>
</div>
